body {
    background: #e5e5e5;
    color: #25282B;
    margin: 0;
}

.hide {
    display: none;
}

#container {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

#intro{
    width: 300px;
    margin-right: 20px;
}

main{
    margin: 32px 0;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button{
    background: none;
    color:#ff5E84;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

button.fat:hover {
    text-decoration: none;
}

.fat {
    background: #ff5E84;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

#buttons, footer{
    text-align: center;
}

#footer a{
    color: #25282B;
    text-decoration: none;
}

footer a:hover {
    color: #ff5E84;
    font-weight: bold;
}

